<table>
  <tbody>
    <tr>
      <th>Reach Weight</th>
      <td>
        <input type="text" id="reach_weight" 
                           value="<%= settings['reach_weight'] %>" 
                           name="settings[reach_weight]" >
      </td>
    </tr>
    <tr>
      <th>Impact Weight</th>
      <td>
        <input type="text" id="impact_weight" 
                           value="<%= settings['impact_weight'] %>" 
                           name="settings[impact_weight]" >
      </td>
    </tr>
    <tr>
      <th>Confidence Weight</th>
      <td>
        <input type="text" id="confidence_weight" 
                           value="<%= settings['confidence_weight'] %>" 
                           name="settings[confidence_weight]" >
      </td>
    </tr>
  </tbody>
</table>